@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Instrument+Serif:ital@0;1&family=Unica+One&display=swap');

:root {
    --black: #000000;
    --grey: #1D1928;
    --red: #AD0900;
    --white: #FFFFFF;
    --radius: 16px;
    --gutter: 8px;
    --font-mono: "Azeret Mono", monospace;
    --font-serif: "Instrument Serif", serif;
    --font-size: 24px;
    --weight-regular: 300;
}

/* mobile-first */

    /* text */

    em {
        font-style: italic;
    }

    strong {
        font-weight: calc(var(--weight-regular)*2);
    }

    h1, .projectpage h1 {
        font-family:  "Instrument Serif", "serif";
        font-size: calc(var(--font-size)*2.5);
        padding-bottom: var(--gutter);
    }

    h2 {
        font-family:  "Instrument Serif", "serif";
        font-size: calc(var(--font-size)*1.5);
        padding-bottom: var(--gutter);
    }

    h3 {
        font-family:  "Roboto", "sans-serif";
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
    }

    h4 {
        font-family:  "Roboto", "sans-serif";
        font-weight: 600;
        font-size: 18px;
    }

    p, a, time {
        font-family:  "Roboto", "sans-serif";
        font-weight: 300;
        font-size: 18px;
    }

    hgroup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .accordion hgroup {
        display: flex;
        flex-direction: row;
        gap: var(--gutter);
    }

    header h1 {
        font-family: "Roboto", "Sans-serif";
        font-weight: 900;
        text-transform: uppercase;
        z-index: 0;
        line-height: 0.70;
    }

    header h1:first-of-type {
        font-size: calc(var(--font-size)*6.3);
    }

    header h1:nth-of-type(2) {
        font-size: calc(var(--font-size)*8);
    }

    header h2 {
        font-family: "Roboto", "Sans-serif";
        font-family: "Instrument Serif", "serif";
        font-style: italic;
        font-size: calc(var(--font-size)*2.5);
        z-index: 1;
        text-shadow: 
        1px 1px 0 var(--red), 
        -1px 1px 0 var(--red), 
        1px -1px 0 var(--red), 
        -1px -1px 0 var(--red),
        1px 0 0 var(--red), 
        -1px 0 0 var(--red), 
        0 1px 0 var(--red), 
        0 -1px 0 var(--red);
        translate: 0px -16px;
    }

    a:hover {
        cursor: pointer;
        color: greenyellow;
        transition: 0.5s linear;
        font-weight: 600;
    }

    blockquote>p {
        font-family: "Instrument Serif", serif;
        font-style: italic;
        padding-bottom: calc(var(--gutter)*2);
        font-size: var(--font-size);
        line-height: 1.5;
    }

    p.highlight {
        font-size: 56px;
    }

    #contact .highlight {
        font-size: 128px;
        text-decoration: overline;
        padding-top: 32px;
        font-family: "Instrument Serif", serif;
    }

    .social-links {
        display: flex;
        flex-direction: column;
        gap: var(--gutter);
        padding-bottom: 32px;
    }

    /* sections */

    html {
        scroll-behavior: smooth;
    }

    .projectpage {
        background-color: var(--black);
        color: var(--white);
        padding: 10%;
    }

    .projectpage header {
        display: flex;
        flex-direction: column;
        gap: 10vh;
    }

    .nav-top, .nav-bottom {
        font-family: "Instrument Serif", "serif";
        font-size: var(--font-size);
        font-style: italic;
        font-weight: 500;
        width: 80vw;
        z-index: 2;
    }

    .nav-top li, .nav-bottom li {
        padding: 12px 24px 12px 24px;
    }

    #home header {
        background-color: var(--red);
        height: 100vh;
        color: var(--black);
        padding: 40px 10% 40px 10%;
        display: flex;
        flex-direction: column;
        background-image: url('/assets/dots.png');
        background-repeat: repeat;
    }

    #about {
        background-color: var(--black);
        color: var(--white);
        padding: 10%;
        background-image: url('/assets/dots.png');
        background-repeat: repeat;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15vh;
    }

    #work {
        padding: 10%;
        background-color: var(--red);
        background-image: url('/assets/dots.png');
        background-repeat: repeat;
        display: flex;
        flex-direction: column;
        gap: 15vh;
    }

        #work>section {
            display: flex;
            flex-direction: column;
            gap: 3vh;
        }

    #contact {
        background-color: var(--black);
        color: var(--white);
        padding: 10%;
        display: flex;
        flex-direction: row;
        gap: 5%;
        width: 100%;
        justify-content: center;
        align-items: end;
    }

    #about>section {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10vh;
    }

    #skills section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: calc(var(--gutter)*2);
        margin-top: 32px;
    }

    #skills div {
        display: flex;
        flex-direction: column;
        gap: var(--gutter);
        padding-bottom: var(--gutter);
    }

    .title {
        height: 100%;
        position: relative;
        height: 100%;
        width: 100%;
    }

    .title hgroup, .title h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    } 

    .title p {
        background-color: var(--white);
        max-width: fit-content;
        padding: 16px 32px 16px 32px;
        border: 1px solid black;
        border-radius: 500px;
        z-index: 100;
        position: absolute;
        top: 40%;
        left: 30%;
        text-wrap: nowrap;
        max-height: fit-content;
        font-family: "instrument serif";
        font-size: 64px;
        transform: rotate(30deg);
    }

    .cols {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5%;
    }
    

    footer {
        background-color: var(--black);
        color: var(--white);
        padding: 5% 10% 5% 10%;
        text-align: center;
        font-family: "Instrument Serif";
        font-size: var(--font-size);
    }

    .tldr {
        display: grid;
        grid-template-columns: 1fr 2fr 3fr;
        gap: 2.5%;
        width: 100%;
    }

    /* components */

    .accordion {
        color: var(--white);
        cursor: pointer;
        padding: calc(var(--gutter)*3) var(--gutter) calc(var(--gutter)*3) var(--gutter);
        width: 100%;
        text-align: left;
        border-bottom: solid 3px var(--white);
        transition: 0.4s;
        display: flex;
        flex-direction: column;
        gap: var(--gutter);
        position: relative;
        padding-right: 40px;
    }
    
    .accordion:hover, .accordion.active {
        background-color: var(--red);
    }

    .accordion-indicator {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
    }
    
    .pannel {
        display: none;
        overflow: hidden;
    }

    .pannel section {
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
        padding: calc(var(--gutter)*3) calc(var(--gutter)*2) calc(var(--gutter)*3) calc(var(--gutter)*2);
    }

    div img, a img {
        max-height: 24px;
    }

    a {
        display: flex;
        flex-direction: row;
        gap: var(--gutter);
    }

    .tldrpart {
        padding-top: 24px;
        border-top: 1px solid var(--white);
    }

    .degree, blockquote {
        display: flex;
        flex-direction: column;
        padding-top: calc(var(--gutter)*3);
        padding-bottom: calc(var(--gutter)*3);
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
        gap: var(--gutter);
        justify-content: space-between;
    }

    .degree div {
        display: flex;
        flex-direction: row;
        gap: var(--gutter);
    }

    cite {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .a-button {
        padding: 16px 24px 16px 24px;
        border-radius: 12px;
        background-color: var(--red);
        width: fit-content;
        text-align: center;
        align-items: center;
        transition: 0.4s;
    }

    .a-button:hover {
        background-color: greenyellow;
        color: white;
    }

    .projects, .case__study {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5%;
    }

    .projects a, .case__study a  {
        height: 100%;
    }

    .projects a:hover, .case__study a:hover {
        transform: scale(1.05);
        font-weight: 300;
    }

    .project-card {
        background-color: var(--black);
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: 1px solid var(--black);
    }

    .project-card img {
        width: 100%;
        object-fit: cover;
        min-height: 264px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .project-description {
        display: flex;
        flex-direction: column;
        gap: calc(var(--gutter)*3);
        padding: 5%;
    }

    .pills {
        display: flex;
        flex-direction: row;
        gap: var(--gutter);
    }

    .pills div {
        padding: 12px 24px 12px 24px;
        border: solid 1px var(--white);
        border-radius: 32px;
        font-family: "Roboto", sans-serif;
    }

    .nav-top li.active, .nav-bottom li.active {
        color: violet;
    }

    .assets {
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .assets>section {
        padding: 5%;
    }

    .assets>section h2 {
        text-wrap: nowrap;
    }

    .projectnav {
        padding: 5% 2% 5% 2%;
        position: sticky;
        left: 0;
        text-wrap: nowrap;
        max-height: 100vh;
    }

    .projectexplanation {
        display: flex;
        flex-direction: row;
        gap: 5%;
        padding-top: 5%;
        border-top: 1px solid var(--white);
    }

    /* animations */

    #loadingOverlay {
        position: fixed;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        visibility: visible;
        transition: opacity 1s, visibility 1s step-end;
        z-index: 2000;
    }

    .logo {
        max-width: 10%;
        font-weight: 300;
        background-color: var(--red);
        border: none;
        height: 72px;
        width: 72px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Instrument Serif", serif;
        animation: logoload 5s linear;
    }

        @keyframes logoload {
            0% {
                transform: scale(1);
            }
            15% {
                transform: scale(1.5);
            }
            30% {
                color: var(--red);
                transform: scale(1);
            }
            100% {
                color: var(--red);
                transform: scale(100);
            }
        }


/* desktop */

    @media (min-width: 768px) {

        /* sections */
        
        .nav-top, .nav-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 32px;
            text-wrap: nowrap;
        }

        .nav-top div, .nav-bottom div {
            height: 1px;
            width: 100%;
            background-color: var(--black);
        }

        .nav-top {
            position: fixed;
            top: 40px;
        }

        .nav-bottom {
            position: fixed;
            bottom: 40px;
        }

    }