@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #000000;
    --grey: #36333F;
    --light-grey: #6F6983;
    --background-grey: #F2F2F2;
    --red: #AD0900;
    --white: #FFFFFF;
    --radius: 16px;
    --gutter: 8px;
    --font-sans: "Raleway", sans-serif;
    --font-serif: "Instrument Serif", serif;
    --font-size: 24px;
    --weight-regular: 300;
}


/* mobile-first */

    /* text */

    em {
        font-style: italic;
    }

    strong {
        font-weight: calc(var(--weight-regular)*2);
    }

    h1 {
        font-family: var(--font-serif);
        font-size: 72px;
        font-weight: 400;
        line-height: 1.5;
    }

    h2 {
        font-family: var(--font-serif);
        font-size: 56px;
        font-weight: 400;
        line-height: 1.5;
    }

        .projectnav h2 {
            display: none;
        }

        .projectnav p {
            text-wrap: wrap;
            padding-bottom: 24px;
            margin-bottom: 24px;
            border-bottom: 1px solid var(--white);
        }

    h3 {
        font-family: var(--font-serif);
        font-weight: 400;
        font-size: 32px;
        line-height: 1.2;
    }

        .projectcontent h3 {
            width: 100%;
            text-align: left;
            padding-left: 0;
            padding-top: 56px;
        }

    h4 {
        font-family: var(--font-sans);
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
    }

    p, a, time {
        font-family: var(--font-sans);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
    }

    hgroup {
        display: flex;
        flex-direction: column;
    }

    header h1:not(.projectpage h1) {
        font-family: var(--font-sans);
        font-weight: 900;
        text-transform: uppercase;
        z-index: 0;
        line-height: 0.6;
    }

    .projectpage header h1 {
        font-family: var(--font-serif);
        font-weight: 300;
    }

    header h1:first-of-type {
        font-size: 19vw;
        text-wrap: wrap;
        max-width: 100%;
        line-height: 1;
        padding-bottom: 0;
    }

    header h1:nth-of-type(2) {
        font-size: 22.5vw;
    }

    header h2 {
        font-family: var(--font-serif);
        font-style: italic;
        font-size: 36px;
        z-index: 1;
        text-shadow: 
        1px 1px 0 var(--black), 
        -1px 1px 0 var(--black), 
        1px -1px 0 var(--black), 
        -1px -1px 0 var(--black),
        1px 0 0 var(--black), 
        -1px 0 0 var(--black), 
        0 1px 0 var(--black), 
        0 -1px 0 var(--black);
        translate: 0px -4px;
    }

    a:hover {
        cursor: pointer;
        color: var(--light-grey);
        transition: 0.2s linear;
    }

    .nav-top a, .nav-bottom a, .nav-bottom li {
        font-family: var(--font-serif);
        font-size: var(--font-size);
        color: var(--black);
        font-style: italic;
        font-weight: 500;
    }

    blockquote>p {
        font-family: var(--font-serif);
        font-style: italic;
        padding-bottom: calc(var(--gutter)*2);
        font-size: 24px;
        line-height: 1.5;
    }

    p.highlight {
        font-size: 42px;
        font-family: var(--font-serif);
        padding-top: 56px;
        padding-bottom: 56px;
        font-weight: 300;
    }

    #contact .highlight {
        font-size: 36vw;
        padding-bottom: 32px;
        text-decoration: overline;
        padding-top: 32px;
        font-family: var(--font-serif);
    }

    .social-links {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 64px;
    }

    .light-mode a {
        color: var(--white);
    }

    .light-mode a, .light-mode li {
        font-weight: 300;
    }

    .faded {
        color: var(--light-grey);
    }

    /* sections */

    html {
        scroll-behavior: smooth;
        overflow-x:hidden;
        background-color: var(--black);
    }

    #experience, #skills, #education {
        display: flex;
        flex-direction: column;
        gap: 7vh;
    }

    #references {
        padding: 10% 0 10% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: max-content;
    }

    .projectcontent>section {
        scroll-margin-top: 10ex;
    }

    .projectpage {
        background-color: var(--black);
        color: var(--white);
        padding: 144px 16px 32px 16px;
    }

    .projectpage header {
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    .projectpage .nav-top {
        position: fixed;
        top: 0;
        padding: 32px 0 32px 0;
        min-width: 92%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .projectpage .nav-top>li:not(:first-child) {
        display: none;
    }

    .projectpage .nav-top a {
        color: var(--white);

    }


    .nav-top, .nav-bottom {
        width: 80vw;
        z-index: 5;
    } 

    .nav-top li:not(.navicon), .nav-bottom li {
        padding: 12px 24px 12px 24px;
    }

    .navicon {
        background-color: var(--red);
        border-radius: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        padding: 0px;
    }

    .navicon a {padding: 0;}

    .projectpage .navicon a {
        min-width: 64px;
        width: 64px;
        max-width: 64px;
        height: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-style: unset;
        text-align: center;
    }

    .navicon a {
        font-style: unset;
        font-size: 20px;
    }

    .navlogo {
        display: none;
    }

    #home header {
        background-color: var(--black);
        height: 100vh;
        color: var(--white);
        padding: 40px 16px 40px 16px;
        display: flex;
        flex-direction: column;
        background-image: url('/assets/dots.png');
        background-repeat: repeat;
    }

    #about {
        background-color: var(--background-grey);
        color: var(--black);
        padding: 10% 0 0 0;
        /*background-image: url('/assets/dots.png') ;*/
        background-repeat: repeat;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10vh;
    }

    #work {
        padding: 72px 16px 72px 16px;
        background-color: var(--white);
        /*background-image: url('/assets/dots.png');*/
        color: var(--black);
        background-repeat: repeat;
        display: flex;
        flex-direction: column;
        gap: 15vh;
    }

        #work>section {
            display: flex;
            flex-direction: column;
            gap: 3vh;
        }

    #play {
        background-color: var(--background-grey);
        padding: 32px 16px 32px 16px;
    }

    .pill {
        padding: 4px 12px 4px 12px;
        width: fit-content;
        margin-top: 8px;
        background-color: var(--background-grey);
    }

    #contact {
    background-color: var(--black);
    color: var(--white);
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 100%;
    justify-content: center;
    align-items: start;
    padding-left: 16px;
    }

    .cv {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20vh;
        border-radius: 20px;
    }

    #about>section:first-of-type, .cv {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }

    #about>section:first-of-type {
        background-color: transparent;
        border: none;
        gap: 32px;
        padding: 0;
    }

    #skills section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    #skills div {
        display: flex;
        flex-direction: column;
        gap: var(--gutter);
        padding-bottom: var(--gutter);
    }

    .title {
        height: 100%;
        position: relative;
        height: 100%;
        width: 100%;
    }

    .title hgroup, .title h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    } 

    .cols {
        display: flex;
        flex-direction: column;
    }

    .projectpage #contact {
        opacity: 1;
        padding: 15% 0 10% 0;
        border-bottom: 1px solid var(--white);
        margin-bottom: 32px;
    }

    .projectpage footer {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 64px;
    }
    

    footer {
        background-color: var(--black);
        color: var(--white);
        padding: 40px 16px 40px 16px;
        text-align: center;
        font-family: var(--font-serif);
        font-size: 24px;
        border-top: 1px solid var(--white);
        text-align: left;
    }

    .tldr {
        display:flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;
    }

    .job {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .job hgroup {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 8px;
        border-bottom: 1px solid var(--light-grey);

    }

    .job hgroup>div {
        text-wrap: nowrap;
        display: flex;
        flex-direction: row;
        gap: 4px;
    }

    .job>section {
        display: flex;
        flex-direction: row;
        gap: 56px;
    }

    .job>section:first-of-type>div {
        display: flex;
        flex-direction: column;
        max-width: 33%;
        gap: 12px;
    }

    .start {
        display: flex;
        flex-direction: row;
        gap: 12px;
        padding-top: 96px;
    }

    .start div {
        width: 25%;
    }

    .start .role {
        width: 100%;
    }

    .role {
        display: flex;
        flex-direction: row;
        gap: 12px;
        justify-content: space-between;
        align-items: end;
    }


    /* components */

        /*mobile menu*/

        .menu-toggle {
            cursor: pointer;
            background: none;
            border: none;
            position: fixed;
            left: 16px;
            top: 24px;
            padding: 7px 8px 7px 8px;
            background-color: var(--red);
            border-radius: 8px;
            border: 1px solid var(--black);
            z-index: 6;
        }

        .menu-toggle span {
            display: block;
            width: 25px;
            height: 2px;
            background-color: var(--black);
            margin: 5px 0;
            z-index: 6;
        }

        .projectpage .nav-top {
            z-index: 6;
        }

        .mobile-menu, .projectpage .mobile-menu {
            display: none;
            position: fixed;
            inset: 0;
            width: 100%;
            background-color: var(--red);
        }

        .mobile-menu.open, .projectpage .mobile-menu.open {
            display: block;
            overflow-y: scroll;
            z-index: 5;
            height: 100vh;
        }
        
        .mobile-menu ul, .projectpage .mobile-menu ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            padding: 20% 16px 16px 16px;
        }
        
        .mobile-menu ul li, .projectpage .mobile-menu ul li {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .mobile-menu a, .projectpage .mobile-menu a {
            font-family: var(--font-serif);
            font-size: 56px;
            color: var(--black);
        }
        
        .mobile-menu ul li:last-child {
            border-bottom: none;
        }

        .mobile-menu .accordion, .projectpage .mobile-menu .accordion {
            border: none;
            padding: 0;
            color: var(--black);
        }

        .projectpage ul .panel {
            padding-top: 0;
        }

        .mobile-menu .accordion img {
            filter: brightness(0%);
        }

        .mobile-menu .panel a {
            padding: 0;
            font-size: 32px;
        }

        .mobile-menu .panel {
            border-top: 1px solid var(--black);
            padding: 0 0 0 32px;
        }


        /* */

    .nav-top li:nth-of-type(2), .nav-top li:nth-of-type(3), .nav-top li:nth-of-type(4), .nav-bottom {
        display: none;
    }

    .nav-top.light-mode div, .nav-bottom.light-mode div {
        background-color: var(--white);
        height: 1px;
        width: 100%;
    }

    .accordion {
        background-color: var(--light-grey);
        color: var(--white);
        cursor: pointer;
        padding: calc(var(--gutter)*3) var(--gutter) calc(var(--gutter)*3) var(--gutter);
        width: 100%;
        text-align: left;
        transition: 0.4s;
        display: flex;
        flex-direction: column;
        gap: var(--gutter);
        position: relative;
        padding-right: 40px;
    }
    
    .accordion:hover, .accordion.active {
        background-color: var(--red);
    }

    .accordion-indicator {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
    }
    
    .panel {
        display: none;
        overflow: hidden;
        padding: 16px;
    }

    .accordion.active + .panel {
        display: block;
    }

    .panel section {
        display: flex;
        flex-direction: column;
        gap: var(--gutter);
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .panel section p {
        line-height: 1.25;
    }

    a img, .degree img {
        max-height: 24px;
    }

    a {
        display: flex;
        flex-direction: row;
        gap: var(--gutter);
    }

    .tldrpart {
        padding-top: 24px;
        border-top: 1px solid var(--white);
    }

    .degree, blockquote {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;

        gap: var(--gutter);
    }

    div.badge, .panel>section div:nth-child(2) {
        display: flex;
        flex-direction: row;
        gap: 12px;
        justify-content: left;
        align-items: center;
    }

    .role {
        gap: 8px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    cite {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .a-button {
        padding: 20px 24px 20px 24px;
        border-radius: 50px;
        color: var(--white);
        background-color: var(--black);
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        transition: 0.4s;
        max-height: fit-content;
        min-height: fit-content;
        height: fit-content;
    }

    .a-button p {
        font-family: var(--font-serif);
        font-size: 24px;
        font-style: italic;
    }

    .a-button:hover {
        background-color: var(--grey);
        color: white;
    }

    .projects, .case__study {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

        .projects .pills, .case__study .pills, #skills h3, #education h3, .panel time, .accordion time, #experience time, #experience h3 {
            font-size: 16px;
        }

        .projects h2, .case__study h2 {
            font-size: 32px;
            padding-bottom: 0px;
            line-height: 1;
        }


    .projects a, .case__study a  {
        height: 100%;
    }

    .projects a:hover img, .case__study a:hover img {
        transform: scale(1.05);
        overflow: hidden;
        transition: 0.5s linear;
    }

    .project-card {
        background-color: var(--background-grey);
        color: var(--black);
        width: 100%;
        min-height: 100%;
        max-height: max-content;
        height: fit-content;
        border-radius: 0px;
        overflow: hidden;
    }

    .project-card img {
        width: 100%;
        object-fit: cover;
        min-height: 200px;
        max-height: 200px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        overflow: hidden;
    }

    .project-description {
        display: flex;
        flex-direction: column;
        gap: calc(var(--gutter)*3);
        padding: 24px;
        min-height: fit-content;
    }

    .pills {
        display: flex;
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;
        align-items: center;
    }

    .pills img {
        padding: 0px;
        height: 20px;
        width: 20px;
    }

    .pills div {
        padding: 12px 24px 12px 24px;
        border-radius: 0px;
        font-family: var(--font-sans);
        background-color: var(--white);
        text-wrap: nowrap;
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: center;
        justify-content: center;
    }

    .projectpage .pills div {
        background-color: var(--grey);
    }

    .nav-top li.active, .nav-bottom li.active {
        border: 1px solid var(--black);
        background-color: var(--red);
        border-radius: 50px;
    }

    .nav-top li.active a, .nav-bottom li.active a {
        color: var(--white);
    }

    .nav-top.light-mode li.active, .nav-bottom.light-mode li.active {
        border: 2px solid var(--red);
        background-color: var(--black);
    }

    .assets {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .assets>section {
        padding: 0;
    }

    .assets>section h2 {
        padding-top: 32px;
        padding-bottom: 24px;
    }

    .projectnav {
        max-width: 15%;
        width: 15%;
        position: fixed;
        padding: 5% 16px 5% 16px;
        bottom: 0px;
        background-color: var(--black);
        right: 0;
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 3;
    }

    .projectnav li:first-of-type {
        display: none;
    }

    .projectnav a.active {
        color: var(--red);
        font-weight: 800;
    }

    .projectcontent {
        overflow-y: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10vh;
    }

        .projectcontent > section {
            display: flex;
            flex-direction: column;
            gap: 10vh;
            align-items: center;
        }

        .projectcontent ol {
            padding-left: 29px;
            display: flex;
            flex-direction: column;
            gap: var(--gutter);
        }

        .projectcontent li {
            font-family: var(--font-sans);
            font-size: 18px;
            font-weight: 300;
            list-style-type:decimal-leading-zero;
        }

    .projectexplanation {
        display: flex;
        flex-direction: column;
        gap: 5%;
        padding-top: 5%;
        border-top: 1px solid var(--white);
    }

    .projectexplanation > div {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-right: 0;
        line-height: 1.5;
    }

    .projectcontent>section img {
        width: 100%;
        border-radius: 8px;
    }

    .top {
        position: fixed;
        right: 16px;
        bottom: 72px;
        background-color: var(--red);
        color: var(--white);
        font-weight: 600;
        width: 64px;
        height: 64px;
        border-radius: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 4;
    }

    .branding {
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .branding img {
        width: 100%;
    }

        .branding>img:first-child {
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
        }

        .branding>img:last-child {
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
        }

    .branding div {
        display: grid;
        grid-template-columns: 1fr, 1fr;
    }

    .branding div img {
        min-width: 100%;
        object-fit: cover;
    }

        /* play-items */

        #play {
            display: flex;
            flex-direction: column;
            gap: 15vh;
        }

        #play>section {
            display: flex;
            flex-direction: column;
            gap: 72px;
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 16px;
            row-gap: 16px;
            width: 100%;
        }

        #filmmaking .gallery {
            grid-template-columns: repeat(1, 1fr);
        }
        
        .slide {
            display: flex;
            height: fit-content;
            flex-direction: column;
            overflow: hidden;
        }

            #publications .slide {
                min-height: 40vh;
            }

        .slide a {
            display: flex;
            flex-direction: column;
            gap: 0;
            height: fit-content;
        }

        .slide img, .slide a img {
            object-fit: cover;
            min-height: 22vh;
            border: 12px solid var(--white);
        }
        
        .slide figcaption {
            bottom: 10px;
            left: 10px;
            background: var(--white);
            color: var(--black);
            font-family: var(--font-sans);
            font-size: 16px;
            padding: 16px 8px 16px 8px;
            border-bottom: 12px solid var(--white);
            border-left: 12px solid var(--white);
            border-right: 12px solid var(--white);
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 8px;
            height: 100%;
            min-height: 100%;
            max-height: 100%;
        }

        #photography .slide:hover, #filmmaking .slide:hover {
            cursor: pointer;
        }

            /* modal img */

            .modal {
                display: none;
                position: fixed;
                z-index: 5;
                padding-top: 3%;
                padding-bottom: 3%;
                left: 0;
                top: 0;
                width: 100%;
                min-height: 100vh;
                overflow: auto;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.95);
            }
            
            .modal-content {
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: auto;
                max-width: 700px;
                max-height: 80vh;
                padding: 32px 16px 32px 16px;
            }
            
            #caption {
                margin: auto;
                display: block;
                width: 80%;
                max-width: 700px;
                text-align: center;
                color: var(--white);
                padding-top: 24px;
                font-family: var(--font-sans);
                font-size: 16px;
            }
            
            .close, #closeVideo {
                position: absolute;
                height: 24px;
                width: 24px;
                top: 8px;
                right: 16px;
                color: var(--red);
                font-size: 56px;
                font-weight: bold;
                transition: 0.3s linear;
            }
            
            .close:hover, .close:focus, #closeVideo:hover, #closeVideo:focus {
                color: var(--white);
                text-decoration: none;
                cursor: pointer;
                opacity: 50%;
            }

            /* modal video */

            #videoModal {
                display: none;
                position: fixed;
                z-index: 10;
                padding-top: 20vh;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0,0,0,0.9);
            }
            
            #videoModal .modal-content {
                margin: auto;
                display: block;
                width: 80%;
                max-width: 700px;
            }
            
            #video-frame {
                width: 100%;
                height: 400px;
            }
 

        /* carousel */

        .carousel {
            position: relative;
            overflow: hidden;
            width: 100%;
            border-radius: 32px;
            min-height: fit-content;
            display: flex;
            flex-direction: column;
        }
        
        .carousel-images {
            display: flex;
            width: 100%; 
            max-height: max-content;
            transition: transform 0.5s ease;
        }
        
        .carousel-images img {
            width: 100%;
            height: auto;
            display: block;
            transition: transform 1s ease;
        }
        
        .prev, .next {
            border-radius: 100px;
            border: none;
            cursor: pointer;
            z-index: 2;
            height: 24px;
            width: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .prev {
            margin-right: 16px;
        }
        
        .next {
            margin-left: 16px;
        }

        .dot {
            color: var(--white);
        }



    /* carousel */

    #references {
        display: flex;
        flex-direction: column;
        gap: 5vh;
        align-items: start;
        transition: linear 0.5s ease-in-out;
        background-color: var(--white);
        width: 100%;
        padding: 10%;
    }

    .testimonial-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        max-width: 100%;
        gap: 3vh;
    }
    
    .testimonial-content {
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
    }
    
    .testimonial-quote {
        width: 100%;
        display: none;
        flex-direction: row;
        align-items: start;
        gap: 7%;
        transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
        transform: translateY(20px);
        opacity: 0;
    }
    
    .testimonial-quote.active {
        display: flex;
        flex-direction: column-reverse;
        max-height: max-content;
        transform: translateY(0);
        transition: 1s ease-in-out;
        opacity: 1;
    }

    .testimonial-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .testimonial-text cite {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    #references cite h3 {
        font-weight: 500;
        text-transform: none;
        font-size: 16px;
    }

    #references cite p {
        color: var(--light-grey);
    }
    
    .testimonial-quote img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .testimonial-navigation, .carousel-indicators {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        width: 100%;
        padding-top: 16px;
        border-top: 1px solid var(--red);
    }
    
    .nav-item, .carousel-indicators .dot {
        cursor: pointer;
        margin: 0 5px;
        font-family: var(--font-sans);
        font-size: 16px;
    }

    .nav-item:hover, .carousel-indicators .dot:hover {
        opacity: 60%;
        transition: 0.2s linear;
    }
    
    .nav-item.active, .carousel-indicators .dot.active {
        font-weight: bold;
        color: var(--red);
    }
    
    .divider {
        display: none;
        margin: 0 5px;
        height: 1px;
        background-color: var(--red);
        width: 64px;
        transition: display 0.5s ease-in-out;
    }


    /* animations */

    .block {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    .block.visible, #exploration.visible, #lowfi.visible, #midfi.visible, #highfi.visible, #reflection.visible {
        opacity: 1;
    }

    #loadingOverlay {
        position: fixed;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        visibility: visible;
        transition: opacity 1s, visibility 1s step-end;
        z-index: 2000;
    }

    .logo {
        font-weight: 300;
        background-color: var(--red);
        border: none;
        height: 72px;
        width: 72px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-serif);
        animation: logoload 5s linear;
    }

        @keyframes logoload {
            0% {
                transform: scale(1);
            }
            15% {
                transform: scale(1.5);
            }
            30% {
                color: var(--red);
                transform: scale(1);
            }
            100% {
                color: var(--red);
                transform: scale(100);
            }
        }


/* desktop */

@media (min-width: 768px) {

    /* text */

    
    header h1:nth-of-type(2) {
        font-size: 11.9vw;
    }

    p.highlight, .testimonial-text blockquote  {
        font-family: var(--font-serif);
        line-height: 1.5;
        border: none;
        font-size: 48px;
        font-weight: 300;
    }

    p.highlight {
        max-width: 75%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #about p.highlight {
        padding: 10%;
    }

    #contact p.highlight {
        padding-top: 24px;
        height: fit-content;
        min-width: fit-content;
    }

    #contact .highlight {
        font-size: 128px;
        padding-bottom: 0;
    }

    header h1:first-of-type {
        font-size: 10vw;
    }

    header h2 {
        font-size: 4vw;
        translate: 0px 0px;
    }

    .assets>section h2 {
        width: 20vw;
        min-width: 20vw;
        padding-top: 0;
        padding-bottom: 0;
    }

    .projectnav h2 {
        display:block;
    }

    .projectexplanation h2 {
        padding-left: 0;
    }

    #contact {
        padding: 10%;
        flex-direction: row;
        align-items: end;
        padding-top: 40vh;
        padding-bottom: 40vh
    }

    footer {
        text-align: center;
        padding: 5% 10% 15vh 10%;
        margin-left: 10%;
        margin-right: 10%;
    }



    /* sections */

    #education>section {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
    }

    #about>section:first-of-type {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    #about>section:first-of-type, .cv {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%;
    }

    .job {
        flex-direction: row;
    }

    .job hgroup {
        flex-direction: column;
        gap: 8px;
        justify-content: start;
        align-items: start;
        border-bottom: none;
        padding-right: 4vw;
        border-right: 1px solid var(--light-grey);
    }

    .branding img {
        max-width: 100%;
    }

    .branding div {
        display: flex;
        flex-direction: row;
    }

    .branding div img {
        min-width: 50%;
        width: 50%;
        max-width: 50%;
    }

    main.assets {
        padding: 5% 10% 0 10%;
    }

    #home header {
        padding: 40px 10% 40px 10%;
    }

    #work {
        padding: 10%;
    }

    #play {
        padding: 10%;
    }

    .projects, .case__study {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 32px;
        column-gap: 32px;
    }

    .projectpage header h1 {
        padding: 5% 10% 0 10%;
    }

    .projectpage header .tldr, .projectpage header img:not(.projectbadge) {
        padding: 3vh 10% 0 10%;
    }
    
    .nav-top, .nav-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        text-wrap: nowrap;
    }

    .nav-top div, .nav-bottom div {
        height: 1px;
        width: 100%;
        background-color: var(--black);
    }

    .nav-top li:nth-of-type(2), .nav-top li:nth-of-type(3), .nav-top li:nth-of-type(4), .nav-bottom {
        display: block;
    }

    .nav-top {
        position: fixed;
        top: 24px;
    }

    .nav-bottom {
        position: fixed;
        bottom: 24px;
        display: flex;
        flex-direction: row;
    }

    .projectnav {
        text-wrap: nowrap;
        top: 56px;
        height: 100vh;
        flex-direction: column;
        justify-content: start;
        padding-left: 0;
        gap: 16px;
        max-width: 15vw;
        position: sticky;
    }

    .projectnav.scrolled {
        transform: translateY(-100%);
    }

    .projectexplanation {
        flex-direction: row;
    }

    .tldr {
        display: grid;
        grid-template-columns: 1fr 2fr 3fr;
        grid-template-rows: 1fr;
        gap: 2.5%;
        margin-bottom: 10vh;
    }

    .assets {
        flex-direction: row;
        gap: 32px;
    }

    .assets>section {
        padding-top: 5%;
    }

    .degree, blockquote {
        padding-top: calc(var(--gutter)*3);
        padding-bottom: calc(var(--gutter)*3);
    }

    .projectpage header {
        padding-top: 10vh;
        gap: 5vh;
    }

    .social-links {
        padding-bottom: 32px;
        gap: 8px;
    }

    .cols {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5%;
    }

    #skills section {
        grid-template-columns: repeat(3, 1fr);
    }

    #references h2 {
        text-align: center;
    }

    .projectpage footer {
        border-top: none;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 25vh;
        margin-left: 0;
        margin-right: 0;
        padding-top: 25vh;
        display: flex;
        flex-direction: column;
        gap: 96px;
        padding-bottom: 96px;
    }

    .projectpage #contact {
        padding: 0 0 20vh 0;
    }

    #play {
        gap: 20vh;
    }

    .gallery, #filmmaking .gallery {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2vw;
        row-gap: 2vw;
    }
    
    .slide, #publications .slide {
        min-height: 100%;
    }

        .slide a:hover img, #photography .slide:hover img, #filmmaking .slide:hover img {
            transform: scale(1.05);
            transition: 0.5s linear;
        }


    .slide img, .slide a img {
        min-height: 15vw;
        height: 15vw;
    }

    #filmmaking {
        padding-top: 64px;
    }

    #events {
        padding-top: 5vh;
    }

    /* components */

    .testimonial-container {
        gap: 7vh;
    }
    
    .testimonial-content {
        min-height: 500px;
    }
    
    .testimonial-quote.active {
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding-left: 10%;
        padding-right: 10%;
        min-height: max-content;
    }

    .testimonial-text {
        gap: 24px;
    }

    .testimonial-navigation {
        width: fit-content;
        padding-top: 0;
        border-top: none;
    }

    #videoplayer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .videoplayer {
        max-width: 720px;
        width: 100%;
    }

    .projectpage .nav-top>li:not(:first-child) {
        display: block;
    }

    .mobile-menu.open {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .nav-top li:first-of-type {
        display: none;
    }

    .projectcontent>section img {
        width: 100%;
        border-radius: 20px;
    }

    .carousel {
        width: 60vw;
        min-height: fit-content;
        border-radius: 0;
        margin-bottom: 56px;
    }

    .carousel-images {
        width: 500%; 
    }

    .carousel-images img {
        min-width: 60vw;
        max-width: 60vw;
        width: 60vw;
        object-fit: contain;
        height: auto;
    }

    .navlogo {
        display: block;
    }

    .navicon {
        display: none;
    }

    .projectpage .nav-top {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        background-color: var(--black);
    }

    .projectpage .nav-top>div {
        background-color: var(--white);
        display: block;
    }

    .top:hover {
        background-color: var(--grey);
        transition: 0.5s linear;
    }

    .top {
        right: 5%;
        bottom: 56px;
        color: var(--black);
    }
    
    .projectnav li:first-of-type {
        display: block;
    }

    .a-button {
        width: fit-content;
    }

    .nav-top li:hover, .nav-bottom li:hover:not(#credits) {
        background-color: var(--grey);
        border-radius: 50px;
        transition: 0.5s linear;
        cursor: pointer;
    }

    .nav-top li:hover a, .nav-bottom li:hover a {
        color: var(--white);
        font-weight: 400;
    }

    .light-mode #credits {
        color: var(--white);
    }

    .accordion hgroup {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .panel {
        padding: 32px 96px 32px 32px;
    }

    .close, #closeVideo {
        top: 32px;
        right: 64px;
    }
}


/* mobile */

@media (max-width: 768px) {

    .projects.block {
        display: block;
    }
}