@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Instrument+Serif:ital@0;1&family=Unica+One&display=swap');

:root {
    --black: #000000;
    --grey: #1D1928;
    --red: #AD0900;
    --white: #FFFFFF;
    --radius: 16px;
    --gutter: 8px;
    --font-mono: "Azeret Mono", monospace;
    --font-serif: "Instrument Serif", serif;
    --font-size: 24px;
    --weight-regular: 300;
}

/* mobile-first */

    /* text */

    em {
        font-style: italic;
    }

    strong {
        font-weight: calc(var(--weight-regular)*2);
    }

    hgroup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        font-family: "Roboto", "Sans-serif";
        font-weight: 900;
        text-transform: uppercase;
        z-index: 0;
        line-height: 0.70;
    }

    header h1:first-of-type {
        font-size: calc(var(--font-size)*6.3);
    }

    header h1:nth-of-type(2) {
        font-size: calc(var(--font-size)*8);
    }

    header h2 {
        font-family: "Roboto", "Sans-serif";
        font-family: "Instrument Serif", "serif";
        font-style: italic;
        font-size: calc(var(--font-size)*2.5);
        z-index: 1;
        text-shadow: 
        1px 1px 0 var(--red), 
        -1px 1px 0 var(--red), 
        1px -1px 0 var(--red), 
        -1px -1px 0 var(--red),
        1px 0 0 var(--red), 
        -1px 0 0 var(--red), 
        0 1px 0 var(--red), 
        0 -1px 0 var(--red);
        translate: 0px -16px;
    }

    a:hover {
        cursor: pointer;
        color: greenyellow;
        transition: 0.5s linear;
    }

    /* sections */

    .nav-top, .nav-bottom {
        font-family: "Instrument Serif", "serif";
        font-size: var(--font-size);
        font-style: italic;
        font-weight: 500;
        width: 80vw;
        z-index: 2;
    }

    #home header {
        background-color: var(--red);
        height: 100vh;
        color: var(--black);
        padding: 40px 10% 40px 10%;
        display: flex;
        flex-direction: column;
        background-image: url('/assets/dots.png');
        background-repeat: repeat;
    }

    .title {
        height: 100%;
        position: relative;
        height: 100%;
        width: 100%;
    }

    .title hgroup, .title h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    } 

    .title p {
        background-color: var(--white);
        max-width: fit-content;
        padding: 16px 32px 16px 32px;
        border: 1px solid black;
        border-radius: 500px;
        z-index: 100;
        position: absolute;
        top: 40%;
        left: 30%;
        text-wrap: nowrap;
        max-height: fit-content;
        font-family: "instrument serif";
        font-size: 64px;
        transform: rotate(30deg);
    }

    footer {
        background-color: var(--black);
        color: var(--white);
        padding: 2% 10% 2% 10%;
        text-align: center;
        font-family: "Instrument Serif";
        font-size: var(--font-size);
    }


/* desktop */

    @media (min-width: 768px) {

        /* sections */
        
        .nav-top, .nav-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 32px;
            text-wrap: nowrap;
        }

        .nav-top div, .nav-bottom div {
            height: 1px;
            width: 100%;
            background-color: var(--black);
        }

        .nav-top {
            position: fixed;
            top: 40px;
        }

        .nav-bottom {
            position: fixed;
            bottom: 40px;
        }

    }